@model List<SURoomieFinder.Models.Responses>
@{
    ViewBag.Title = "View Matches";
}

<h2>ViewMatches</h2>

@foreach (var item in Model)
{
    <p>@item.myClient.FirstName      @item.myMatchScore      @Html.ActionLink("Details", "Details", new { id = item.myClient.Id }) </p>
}