
@{
    ViewBag.Title = "UserQuestions";
}

<h2>UserQuestions</h2>

@foreach (var item in ViewBag.QuestionsDictionary)
{
    <ul>
        <li>
            @item.Key
        <ul>
           @item.Value
        </ul>
    </li>
</ul>
}

